/*

Typefaces: san-serif
Text sizes: 1.125rem
Line-heights: 1.5
Colors: #e2e2e2. #0074d9, #fff
Margins: .5rem
Paddings: 1rem, .75em 1em .6em
Image width: 2rem

*/

html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #e2e2e2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

header img {
  max-width: 50px;
  flex-wrap: nowrap;
  text-align: left;
}

header p {
  font-size: 1.125rem;
}

nav a {
  text-decoration: none;
  color: #0074d9;
  padding-left: 1rem;
  margin-right: 1rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  justify-content: center;
}

nav li {
  margin: .5em;
}

a:hover {
  color: #fff;
}
